.videoContainer {
  z-index: -1;
  display: flex;
  justify-content: center;
}

.videoOff {
  align-items: center;
}

.videoOn {
  align-items: flex-end;
}

.videoContainer__user {
  position: absolute;
  margin-bottom: var(--SpacingS);
}

.videoContainer__info {
  display: flex;
  align-items: center;
  padding: 0 var(--SpacingL);
  background: rgba(128, 128, 128, 0.4);
  border-radius: 50vw;
}

.videoContainer__info--connecting {
  background: rgba(0, 0, 255, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 50vw;
  float: right;
  margin-left: var(--SpacingS);
}

.videoContainer__info--on {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 128, 0, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 50vw;
  float: right;
  margin-left: var(--SpacingS);
}

.videoContainer__info--off {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 50vw;
  float: right;
  margin-left: var(--SpacingS);
}
