.room__view {
  width: 100vw;
  height: var(--MainWindowHeightS);
  position: relative;
  overflow: contain;
  z-index: 0;
}

.room__videoGrid {
  display: grid;
}

.type1 {
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
}

.type2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.type3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.type4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
}

.room__gridItem {
  flex-grow: 1;
}

.room__videoWrapper {
  position: absolute;
  bottom: var(--SpacingL);
  right: var(--SpacingL);
  width: var(--UserFloatingWidth);
  height: var(--UserFloatingHeight);
  z-index: 10;
}

.room__empty {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}
