.drawer__Container {
  display: flex;
  height: var(--MainWindowHeightS);
  width: var(--DrawerWidth);
  flex-direction: column;
  justify-content: space-between;
  background: #e0e0ee;
  transition: all 0.3s ease-in-out;
  transform: translate(-30vw);
  position: absolute;
  box-shadow: 4px 0 15px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer__Container--isOpen {
  transform: translate(0);
}

.drawer__roomName {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--SpacingL);
  font-size: var(--FontL);
  background: var(--T3);
}

.drawer__closeIcon {
  position: absolute;
  right: var(--SpacingL);
}
