.videoFrame {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.videoFrame__video {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.videoFrame__buttonContainer {
  position: absolute;
  height: 52px;
  background: var(--T3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toggle__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--P);
}

.enterRoom__button {
  width: 150px;
  margin: 0;
  position: absolute;
  right: var(--SpacingXS);
}
