.joinRoom {
  margin: 0;
  height: var(--MainWindowHeightL);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf9f8;
}

.joinRoom__form {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: space-between;
}

.joinRoomform__submit {
  margin-top: var(--SpacingL);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joinRoom__image {
  height: 50%;
}

.joinRoom__button {
  height: 40px;
  width: 150px;
  background: var(--P);
  border: 0;
  border-radius: var(--RadiusS);
  color: var(--T4);
}

.input__field {
  background: var(--T3);
  border: 0;
  border-radius: var(--RadiusS);
  padding: var(--SpacingS) var(--SpacingL);
  margin: var(--SpacingS) 0;
  margin-top: var(--SpacingS);
  width: calc(100% - 40px);
  font-size: var(--FontM);
  font-weight: normal;
}

.joinRoomform__wrapper {
  margin-top: 40px;
  display: flex;
  width: min(40%, 400px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom__empty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(5vh - 5px);
  z-index: 10;
  background: var(--P);
  border-top: var(--SpacingXS) solid var(--T2);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.178);
}
