.joinRoom {
  margin: 0;
  height: var(--MainWindowHeightL);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf9f8;
}

.joinRoom__form {
  display: flex;
  position: relative;
  overflow-x: hidden;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  flex-grow: space-between;
  overflow-y: scroll;
}

.joinRoomform__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}

@media only screen and (max-width: 600px) {
  .joinRoomform__submit {
    flex-direction: column;
  }
  .joinRoom_img {
    height: 300px;
  }
}

.joinRoom_img {
  /* width: 100%;
  height: 100%; */
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.joinRoom__image {
  display: flex;
  align-items: center;
  height: max(50vh, 200px);
}

.joinRoom__button {
  margin-top: var(--SpacingL);
  height: 40px;
  width: calc(100% - 10px);
  margin: 5px;
  background: var(--P);
  border: 0;
  border-radius: var(--RadiusS);
  color: var(--T4);
}

.input__field {
  background: var(--T3b);
  border: 0;
  border-radius: var(--RadiusS);
  padding: var(--SpacingS) calc(var(--SpacingL) - 5px);
  margin: var(--SpacingS);
  margin-top: var(--SpacingS);
  width: calc(100% - 40px);
  font-size: var(--FontM);
  font-weight: normal;
}

.joinRoomform__wrapper {
  margin-top: 40px;
  display: flex;
  width: min(40%, 400px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom__empty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max(calc(5vh - 5px), 20px);
  z-index: 10;
  background: var(--P);
  border-top: var(--SpacingXS) solid var(--T2);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.178);
}
