.createRoom {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--T4);
}

.userPreview__wrapper {
  width: 720px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.createRoom__form {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
}

.createRoom__userPreview {
  position: relative;
  height: 100%;
  justify-content: center;
}

.form__submit {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
