.createRoom {
  height: var(--MainWindowHeightL);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--T4);
}

.userPreview__wrapper {
  width: var(--PreviewWidth);
  height: var(--PreviewHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
