.createRoom {
  height: 80vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  justify-content: center;
}

.userPreview__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
}

.createRoom__form {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
}

.createRoom__userPreview {
  position: relative;
  height: 100%;
  justify-content: center;
}

.form__submit {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 960px) {
  .form__wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 15%;
    -moz-transform: translateX(-15%) translateY(-50%);
    -webkit-transform: translateX(-15%) translateY(-50%);
    transform: translateX(-15%) translateY(-50%);
  }
  .createRoom__userPreview {
    width: 100%;
  }
  .userPreview__wrapper {
    width: 80%;
    height: 80%;
    left: 85%;
    -moz-transform: translateX(-85%) translateY(-50%);
    -webkit-transform: translateX(-85%) translateY(-50%);
    transform: translateX(-85%) translateY(-50%);
  }
}
@media (max-width: 960px) {
  .form__wrapper {
    width: 50%;
    min-width: 300px;
  }
  .createRoom__userPreview {
    display: flex;
    align-items: center;
  }
  .createRoom {
    margin: 5vh 0px;
  }
  .createRoom__item {
    width: 100%;
    height: 50%;
  }
  .createRoom__form {
    align-items: center;
  }
  .userPreview__wrapper {
    height: 100%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
