.chat__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #faf9f8;
  width: 80%;
  box-shadow: 0px 0 10px 0.5px rgba(0, 0, 0, 0.1);
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--MainWindowHeightS);
}
