.form {
  display: flex;
}

.input {
  border: 0;
  border-bottom: 3px solid var(--P);
  border-radius: 8px;
  padding: 15px 20px;
  margin: 1.5vw;
  width: 80vw;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  margin: 1.5vw;
  margin-left: 0;
  border: none;
  border-radius: 8px;
  padding: 0;
}
