.room__view {
  width: 100vw;
  height: 86vh;
  position: relative;
  overflow: contain;
  z-index: 0;
}

.room__videoGrid {
  display: grid;
  height: 100%;
  width: 100%;
}

.type1 {
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
}

.type2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.type3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.type4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
}

.room__gridItem {
  flex-grow: 1;
}

.room__videoWrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  z-index: 10;
}

.room__empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}
