.control {
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--P);
  color: var(--T4);
  height: max(calc(7vh - 5px), 40px);
  z-index: 10;
  width: 100%;
  border-top: var(--SpacingXS) solid var(--P);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.178);
}

.control__button {
  padding: var(--SpacingXS);
}

.control__icon {
  margin: var(--SpacingL);
  color: #e2e2f6;
}
