.messageBox {
  background: #f3f3f3;
  border-radius: 6px;
  padding: 20px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  min-width: 180px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  margin: 0;
  padding-top: 5px;
  word-wrap: break-word;
  font-weight: normal;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 2%;
  margin-top: 5px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.sentText {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--TS2);
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundWhite {
  background: white;
}

.backgroundLight {
  background: #f3f3f3;
}
