.participants {
  width: 20%;
  height: 100%;
  background: #faf9f8;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.roomName {
  font-weight: bold;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  font-size: 1.4em;
  border-bottom: 1px solid #e1dfdd;
  color: var(--ST2);
}

.participantsName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  padding: 15px 30px;
  font-size: 1.2em;
}
