@media only screen and (max-width: 600px) {
  .participants__container {
    width: 0%;
  }
}
@media only screen and (min-width: 600px) {
  .participants__container {
    width: 20%;
  }
}
.participants__container {
  background: #e1e1f5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.participants__head {
  font-weight: bold;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--SpacingM) var(--SpacingL);
  font-size: (--FontL);
  border-bottom: 1px solid #e1dfdd;
  color: var(--TS1);
  background: var(--T3);
}

.participants__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  padding: var(--SpacingM) 30px;
  font-size: var(--FontM);
}
